<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="minersTable">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            HashRate (kH/s)
                        </th>
                        <th>
                            Pending (IXI)
                        </th>
                        <th>
                            Round Shares
                        </th>
                        <th>
                            Last Seen
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let miner of minersData; let i = index">
                        <td> {{i + 1}}</td>
                        <td> <a href="#" [routerLink]="['/miner',  miner.Address ]">{{ miner.Address }}</a></td>
                        <td> {{ miner.HashRate }}</td>
                        <td> {{ miner.Pending }}</td>
                        <td> {{ miner.RoundShares }}</td>
                        <td> {{ miner.LastSeen }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
