<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-globe text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Network Block Height</p>
                            <p class="card-title"><span id="networkHeight">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-diamond text-danger"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Block Reward</p>
                            <p class="card-title"><span id="blockReward"></span>IXI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-chart-pie-36 text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Pool Fee</p>
                            <p class="card-title"><span id="poolFee"></span>%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-time-alarm text-primary"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Payment Interval</p>
                            <p class="card-title">1 hour</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-settings-gear-65 text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Currently Mining Block</p>
                            <p class="card-title"><span id="miningBlock">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-spaceship text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Pool Hashrate</p>
                            <p class="card-title"><span id="poolHashrate">0</span>khs<p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-vector text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Pool Difficulty</p>
                            <p class="card-title"><span id="poolDifficulty">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-app text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Blocks Mined (24h)</p>
                            <p class="card-title"><span id="blocksMined">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-single-02 text-primary"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Miners</p>
                            <p class="card-title"><span id="minersCount">0</span> (<span id="workersCount">0</span> workers)<p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-money-coins text-primary"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Total Pending</p>
                            <p class="card-title"><span id="totalPending">0</span><p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-money-coins text-danger"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Total Payments</p>
                            <p class="card-title"><span id="totalPayments">0</span> IXI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-cart-simple text-danger"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">1000 IXI Price</p>
                            <p class="card-title"><span id="ixiPrice">0</span> USD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">Pool Hashrate</h5>
                <p class="card-category">Pool Hashrate (24h)</p>
            </div>
            <div class="card-body">
                <canvas id="poolHashrateChart" width="400" height="100"></canvas>
            </div>
            <div class="card-footer">
                <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Pool Hashrate
                    <i class="fa fa-circle text-warning"></i> Pool Blocks
                </div>
                <hr />
                <div class="card-stats">
                    <i class="fa fa-check"></i> Last Updated: 5 min ago
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Getting Started</h5>
                <p>
                    You'll need an Ixian Wallet Address and Ixian mining software.<br>
                    The fastest way to get the wallet address is by using <a href="https://www.spixi.io" target="_blank">Spixi</a> or <a href="https://github.com/ProjectIxian/Ixian-LiteWallet/releases" target="_blank">Ixian LiteWallet</a>.<br>
                    <strong>Remember to backup your wallet!</strong><br>
                    You can choose most suitable mining software for you below.<br>
                </p>

                <strong>Pool Address: </strong><span id="poolUrl"></span>
                <br /><br />

                <h5>IxiMiner - mixed CPU/GPU Miner</h5>

                <p>Latest release of IxiMiner and instructions can be found on <a href="https://github.com/bogdanadnan/iximiner/releases" target="_blank">IxiMiner GitHub page</a>.</p>
                <p>We highly recommend reading additional instructions from here <a href="https://github.com/bogdanadnan/iximiner/blob/master/iximiner_for_beginners.md" target="_blank">Iximiner for Beginners</a>, it will help you get started and answer the most common questions related to iximiner.</p>
                <br>

                <h5>IxiWatt Easy Miner for Windows - GUI frontend for IxiMiner</h5>
                <p>Latest release of IxiWatt can be found on <a href="https://github.com/ProjectIxian/IxiWatt/releases" target="_blank">Project Ixian GitHub page</a>.</p>
                <br>

                <h5>Official CPU only miner</h5>
                <p>Latest release of Official CPU miner can be found on <a href="https://github.com/ProjectIxian/Ixian-Miner/releases" target="_blank">Project Ixian GitHub page</a>.</p>

                <strong>IxianMiner command</strong>
                <p class="script">
                    IxianMiner.exe --pool https://ixian-us.kiramine.com --wallet YOUR_WALLET --worker YOUR_WORKERNAME
                </p>
                <p>Make sure you replace YOUR_WALLET with your Ixian wallet address and YOUR_WORKERNAME with a name for your mining rig.</p>

                <strong>Failover Configuration</strong>

                <p>To add a second Ixian Pool as Failover, simply add --pool2 "FAILOVER POOL ADDRESS" to your IxianMiner command. For example: --pool2 https://ixian.kiramine.com</p>
                <br>

                <h5>Contact</h5>
                <p>Support for the pool is offered on the <a href="https://discord.gg/P493UN9" target="_blank">Ixian discord channel</a>.</p>

            </div>
        </div>
    </div>
</div>
